<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
<mat-grid-list cols="4" rowHeight="800px">
  <mat-grid-tile class="left-panel">
    <select id="left-panel-list" size="{{menuInfo.length}}">
      <option *ngFor="let link of menuInfo">
        {{link.menuName}}
      </option>
    </select>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" id="right-panel"></mat-grid-tile>
</mat-grid-list>