.my-dialog .mat-dialog-container, 
.mat-list .mat-list-item .mat-list-item-content,
.mat-list {
    padding: 0 !important;
    overflow: hidden;
    width: 100% !important;

}

mat-grid-tile button {
    padding: 0 !important;
    width: 100% !important;
}

.mat-grid-tile .mat-figure {
    display: block !important;
}

.left-panel {
    background-color: lavender;
}

#left-panel-list {
    overflow: auto;
    border: 0px;
    width: 100%;
    background-color: lavender;
}

#left-panel-list option {
    padding: 20px 0 20px 20px;
}

#left-panel-list:focus {
    outline: none; /*removes focus line*/
}
